* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 8.3rem 1fr 5rem;
    height: 100%;
}

.row {
    display: flex;
}

.content-title,
.title,
.left {
    font-size: 2rem;
    font-weight: 700;
}

.button {
    cursor: pointer;
}

.copy,
.title {
    text-align: center;
}

.btnlog {
    width: 25%;
}

.actionsTodo {
    margin-top: 10px;
    margin-left: 1rem;
}

.actionsTodo,
.btnlog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

li {
    list-style: none;
}

.actionsTodo li {
    display: flex;
    justify-content: space-between;
    border: .2px solid #eee;
    font-size: .9rem;
    height: 2.3rem;
    width: 100%;
    padding: 3px;
    margin-bottom: .5rem;
    cursor: pointer;
    transition: ease-in-out .5s;
    background-color: #e8f6ff;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.actionsTodo li:hover {
    transform: scale(1.1);
    color: #0f76b6;
}

.btn {
    background: linear-gradient(#5fbef5, rgb(167, 204, 211), #8fa7ee);
    width: 100%;
    margin: 1rem 0 0 0;
    height: 2.5rem;
    border-radius: .9rem;
    font-weight: 700;
}

.primary {
    background: linear-gradient(#5fbef5, rgb(167, 204, 211), #8fa7ee);
    cursor: pointer;
    /* cursor: not-allowed; */
}

.pompier,
.fm {
    background: linear-gradient(#e9a680, rgb(185, 216, 223), #cca291);
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-in-out .7s;
}

header {
    grid-area: header;
    background: linear-gradient(#5fbef5, rgb(167, 204, 211), #8fa7ee);
}

main {
    grid-area: main;
    background: linear-gradient(#92e8f3, rgb(198, 231, 238), #8fe0ee);
}

.nav {
    width: 100%;
}

.pompier,
.police {
    width: 50%;
    text-align: center;
    height: 2em;
    line-height: 2em;
    font-size: 1.4rem;
    cursor: pointer;
}

.pompier {
    /* pointer-events: none !important; */
}

.police {
    background: linear-gradient(#9ccce7, rgb(215, 234, 238), #aebdeb);
}

.nav,
.views {
    display: flex;
    position: relative;
}

.action {
    width: 70%;
    position: absolute;
    right: 0;
    top: 3vh;
    background: linear-gradient(#e8f6ff, #eee, #d9e2ff);
    height: 20rem;
    margin-right: 1rem;
}

.hide {
    display: none;
}

.content-title {
    text-align: center;
    background: linear-gradient(#0f76b6, rgb(11, 99, 167), #6386fa);
    color: rgb(0, 0, 0);
}


/* .content {

} */

.content div {
    width: 100%;
    height: 10rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content div h4 {
    font-size: 2rem;
}

.content div input,
.content div button {
    width: 30%;
    height: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form div {
    width: 80%;
    margin: 10px 0;
    display: flex;
}

.send,
.form div button,
.form div h4,
.form div input {
    width: 50%;
    padding: .3rem 0;
    border-radius: 10px;
}

.form div button {}

.form div input {
    border-radius: 0;
    background-color: #ccecff;
}

footer {
    grid-area: footer;
    background: linear-gradient(#5fbef5, rgb(167, 204, 211), #8fa7ee);
}

.send {
    margin-top: 20px;
    background-color: #0f76b6;
}

.desactive {
    color: gray;
}

.success {
    background-color: rgb(151, 238, 151);
    color: #1b1d1f;
    max-height: 2rem;
    justify-content: center;
    margin-top: 3rem;
}

.notAllowed:hover {
    cursor: not-allowed;
    color: #414142 !important;
    transform: scale(1) !important;
}

.notAllowed {
    color: #414142;
    background: #dfdddc !important;
    pointer-events: none !important;
}

.fa-exclamation-triangle {
    color: #be800c;
}

.fa-check-circle {
    color: green;
}

.noevent {
    pointer-events: none !important;
    background: #97f58a !important;
}